$theme-primary: lightgrey;

#templates {
  display: none;
}


* {
  box-sizing: border-box;

}

.bookTitles {
  border-right: 2px solid darken($theme-primary, 10);
}

.bookTitles {
  .table {
    .book{
      img {
        max-height: 100px;
      }
    }
  }
}
