$theme-primary: lightgrey;

* {
  box-sizing: border-box;

}

.booksHeader, .borrowersHeader {
  tr{
    td{
      font-size: 1.25em;
    }
  }
}

.bookTitles {
  .table {
    .book{
      img {
        max-height: 100px;
        // margin: 0 auto;
      }
    }
  }
}

.btn-sm {
  margin: 8px auto;
}
